body.sy2video-plugin-siyuan > * {
  visibility: hidden;
}
.sy2video-plugin-siyuan .block__popover .protyle-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center center; /* 设置缩放的基点 */
  transform: translate(-50%, -50%) scale(var(--scale-factor));
  visibility: visible;
  overflow: visible;
}

[data-type='NodeSuperBlock'] {
  border: solid #33333393 1px;
}
